<a href="https://colab.research.google.com/github/luis-telesforo/Cleaning-Data/blob/main/read_write_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Read and write csv
We take data from mpg records

In [8]:
import csv

#We set precision 2:
%precision 2

with open("/content/drive/MyDrive/bases de datos michigan/mpg.csv") as csvfile:
  mpg = list(csv.DictReader(csvfile))

Our csv file contains a dictionario for each of the 234 cars listed

In [10]:
mpg[0]

OrderedDict([('', '1'),
             ('manufacturer', 'audi'),
             ('model', 'a4'),
             ('displ', '1.8'),
             ('year', '1999'),
             ('cyl', '4'),
             ('trans', 'auto(l5)'),
             ('drv', 'f'),
             ('cty', '18'),
             ('hwy', '29'),
             ('fl', 'p'),
             ('class', 'compact')])

The keys of each dictionary can be accesed with:

In [12]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

We calculate the mean city MPG (that is, the miles per gallon a car can reach in the city) across all cars in our records we use **float** because the values of each dictionary are **str**

In [13]:
sum(float(d["cty"]) for d in mpg)/len(mpg)

16.86

We extract all instances of the variable *cyl*

In [16]:
cylinders = set(d["cyl"] for d in mpg)

Now, we calculate the average city MPG by number of cylinders, so we can compare fuel economy based on the number of cylinders a car has.

In [17]:
CtyMpgCyl = [] #this list will contain tuples (c=#of cylinders,city MPG for c)
for c in cylinders:

  sumMpg = 0 #the mpg value for cars with c cylinders
  cars_with_c_cyl = 0 #the number of cars with c cylinders
  for d in mpg:

    if d["cyl"] == c: #we check if the d car has c cylinders

      sumMpg += float(d["cty"])
      cars_with_c_cyl += 1

  CtyMpgCyl.append((c,sumMpg/cars_with_c_cyl))

CtyMpgCyl.sort(key=lambda x: x[0])
CtyMpgCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]